.bk {
    background-color: #ede8dc;
    height: 100%;
    display: none;

    .header {
        margin-bottom: 0px;
    }

    .bk-small-map {
        display: none;
    }

    .bk-large-map {
        display: block;
        margin-bottom: 20px;
    }
}

.pol {
    img {
        float: left;
    }
    .offer {
        color: #E2001A;
        font-weight: bold;
    }
    .content{
        padding-bottom: 20px;
    }
}
// @media only screen 
// and (max-width : 480px) {
@media only screen 
and (max-device-width: 480px) {

    .bk {
        .bk-small-map {
            display: block;
        }
        .bk-large-map {
            display: none;
        }

        .bk-img1 {
            width: 280px;
        }

        h1 {
            font-size: 28px;
            line-height: 32px;
        }

        .content {
            padding: 20px 20px 1px 20px;
        }
    }

    .pol {
        img {
            float: none;
            width: 280px;
        }
    }
}