$form_width: 400px;
$pad: 20px;
$mainBackgroundColor: red;

$experimental-support-for-svg: true;


.login_container,
.reg{
    background-color: #333;
    width: $form_width;
    margin: $pad*2 auto;
    padding: $pad*2 $pad*2 $pad $pad*2;
    color: white;
    position: relative;
    @include border-radius(10px);
    //font-family: sans-serif;

    .form_container {
        width: $form_width;
        position: relative;
        display: block;
        margin: $pad*1.5 auto;
        padding: $pad*2 0 $pad*2 $pad*2;
        @include border-radius(10px);
        background-color: darken($mainBackgroundColor, 5%);
    }
    .header {
        padding-right: $pad*2;
        margin-bottom: $pad/2;
    }

    .label {
        margin-top: $pad/2;
        @include opacity(0.6);
    }

   input.field {
        width: $form_width - $pad*2;
        @include border-radius(4px);
        border: 0;
        padding: $pad/4 $pad/2;
        margin: $pad/4 0;
        font-size: 24px;
        &:invalid {
            @include box-shadow(none);
        }
    }

    input.field.fullwidth {
       width: $form_width - $pad;
    }
}

.en {display:none;}

#registerNow {
    @include background-image(linear-gradient(#ffaa23, #d98500)); 
    @include border-radius(5px);
    padding:5px 10px;
    line-height: 40px;
    text-decoration: none;
}

#backHome {
    text-align: center;
    margin-top: -30px;
    font-size: 80%
}

#dialog_container {
    .body {
        font-family: sans-serif;
        font-size: 80%;
    }
}
.text-divider {
    border-bottom: 1px solid #111;
    @include box-shadow(0 1px 0 #555);
    position: relative;
    height: 10px;
    margin-bottom: 14px;
    margin-top: 12px;
    div {
        text-align: center;
        background-color: #333;
        margin-left: auto;
        margin-right: auto;
        padding: 0 10px;
        width: 120px;
    }
}

.center {
    // font-size: 14px;
    text-align: center;
}

.jq_link {
    text-decoration: underline;
    &:hover {
    cursor: pointer;
    };
}

.button {
    @include background-image(linear-gradient(#5CCD00, #4AA400)); 
    @include border-radius(5px);
    padding:10px 15px;
    color:#fff;
    font-size:16px;
    border:1px solid #459A00;
    display: block;
    margin: 20px auto 0;
    float: right;
    
    &:hover {
        cursor: pointer;
    }
}

@media only screen 
and (min-width : 320px) 
and (max-width : 480px) {
// @media only screen 
// and (max-device-width: 480px) {
$form_width: 230px;
    .login_container,
    .reg {
        width: $form_width;
        padding: $pad $pad $pad $pad;

        .form_container {
           width: $form_width;
        }
        input.field {
            width: $form_width - $pad*2;
        }
        input.field.fullwidth {
           width: $form_width - $pad;
        }
    }
}